* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 3em;
  text-decoration: underline;
}
h3 {
  font-size: 3em;
}

.main-container {
  background-color: lightgrey;
  width: 80%;
}
.business-card {
  border-radius: 25px;
  width: 30%;
}

.serperator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.deco {
  border-bottom: 3px black;
  border-style: inset;
  width: 90%;
}
